@page "/pagos"
@using AdminDepartamentos.App.Models

@inject PagoService PagoService
@inject NavigationManager Navigation
@inject AuthService AuthService
@inject SweetAlertService Swal

<h3>Pagos</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

@if (pagoGetModel is null)
{
    <p>Cargando pagos...</p>
}
else if (pagoGetModel.Count is 0)
{
    <p>Parece que no nadie aqui :(</p>
}
else
{
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Retrasado</th>
            <th>Número de Depósito</th>
            <th>Días Hasta Pago</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var pago in pagoGetModel)
            {
                <tr>
                    <td>@pago.InquilinoFirstName @pago.InquilinoLastName</td>
                    <td>@pago.Retrasado</td>
                    <td>@pago.NumDeposito</td>
                    <td>@pago.FechaPagoInDays</td>
                    <td>
                        <button class="btn btn-warning" @onclick="() => MarkRetrasado(pago.IdPago)">
                            <Icon Name="IconName.Calendar2CheckFill"></Icon>
                        </button>
                        <button class="btn btn-primary" @onclick="() => EditPago(pago.IdPago)">
                            <Icon Name="IconName.Search"></Icon>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<PagoGetModel> pagoGetModel;
    private string errorMessage;
    
    protected override async Task OnInitializedAsync()
    {
        if (!await AuthService.IsAuthenticated())
        {
            Navigation.NavigateTo("/login");
        }

        await LoadPagos();
    }

    private async Task LoadPagos()
    {
        var response = await PagoService.GetPagos();
        if (response.Success)
            pagoGetModel = response.Data;
        else
            errorMessage = response.Message;
    }
    
    private void EditPago(int idPago)
    {
        Navigation.NavigateTo($"/pago/{idPago}");
    }
    
    private async Task MarkRetrasado(int id)
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
        {
            Title = "Estas Seguro?",
            Text = "Esta accion marcara el pago como pago.",
            Icon = SweetAlertIcon.Question,
            ShowCancelButton = true,
            ConfirmButtonText = "Si, confirmar",
            CancelButtonText = "Cancelar"
        });

        if (result.IsConfirmed)
        {
            var response = await PagoService.MarkRetrasado(id);
            if (response.Success)
            {
                await Swal.FireAsync("Exito!", "El pago ha sido marcado como pago.", SweetAlertIcon.Success);
                await LoadPagos();
            }
            else
            {
                await Swal.FireAsync("Error", response.Message, SweetAlertIcon.Error);
            }
        }
    }
}